@import url("https://use.typekit.net/yqg7pai.css");

$font-family-primary: poppins, sans-serif;
$font-family-secondary: "futura pt", sans-serif;
$font-size: 16px;
$font-bold: 600;
$font-light: 300;
$line-height: 1.5;
$color-bg: #272727;
$color-black: #131313;
$color-off-white: #fafafa;
$color-orange: #e09b62;
$color-green: #386354;

// Orange Gradient
$color-gradient-orange-left: linear-gradient(
  to right,
  rgba(224, 155, 98, 1) 1%,
  rgba(224, 155, 98, 0.75) 30%,
  rgba(224, 155, 98, 0) 100%
);
$color-gradient-orange-right: linear-gradient(
  to left,
  rgba(224, 155, 98, 1) 1%,
  rgba(224, 155, 98, 0.75) 30%,
  rgba(224, 155, 98, 0) 100%
);

$color-gradient-orange: linear-gradient(
  to bottom,
  rgba(224, 155, 98, 0) 0%,
  rgba(224, 155, 98, 0.5) 25%,
  rgba(224, 155, 98, 1) 50%,
  rgba(224, 155, 98, 0.5) 75%,
  rgba(224, 155, 98, 0) 100%
);

// GREEN Gradient
$color-gradient-green: linear-gradient(
  90deg,
  rgba(95, 62, 62, 0.964) 3%,
  rgba(56, 99, 84, 1) 50%,
  rgba(39, 39, 39, 0.9752275910364145) 97%
);
$color-gradient-green-left: linear-gradient(
  to right,
  rgba(56, 99, 84, 1) 1%,
  rgba(56, 99, 84, 0.75) 30%,
  rgba(56, 99, 84, 0) 100%
);

$color-gradient-green-right: linear-gradient(
  to left,
  rgba(56, 99, 84, 1) 1%,
  rgba(56, 99, 84, 0.75) 30%,
  rgba(56, 99, 84, 0) 100%
);

$color-gradient-green-up: linear-gradient(
  to bottom,
  rgba(56, 99, 84, 1) 1%,
  rgba(56, 99, 84, 0.75) 30%,
  rgba(56, 99, 84, 0) 100%
);

$color-gradient-green: linear-gradient(
  to bottom,
  rgba(56, 99, 84, 0) 0%,
  rgba(56, 99, 84, 0.5) 25%,
  rgba(56, 99, 84, 1) 50%,
  rgba(56, 99, 84, 0.5) 75%,
  rgba(56, 99, 84, 0) 100%
);

$border-radius: 8px;
$main-padding: 5em;

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin background-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin circle($bg-color) {
  background-color: $bg-color;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

@mixin display-flex($flex-direction, $justify-content, $align-items, $gap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin display-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@mixin finger-left($color-gradient: $color-gradient-orange-right, $height) {
  background: $color-gradient;
  z-index: 1;
  height: $height;
  border-radius: 250px 0 0 250px;
  -webkit-border-radius: 250px 0 0 250px;
  -moz-border-radius: 250px 0 0 250px;
}

@mixin finger-right($color-gradient: $color-gradient-orange-left, $height) {
  background: $color-gradient;
  z-index: 1;
  height: $height;
  border-radius: 0 250px 250px 0;
  -webkit-border-radius: 0 250px 250px 0;
  -moz-border-radius: 0 250px 250px 0;
}

@mixin finger-up($color-gradient: $color-gradient-green-up, $height) {
  background: $color-gradient;
  z-index: 1;
  height: $height;
  border-radius: 250px 250px 0 0;
  -webkit-border-radius: 250px 250px 0 0;
  -moz-border-radius: 250px 250px 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-primary;
  font-weight: $font-bold;
  line-height: $line-height;
  color: $color-off-white;
  margin: 0;
  padding: 0;
}
p,
a {
  font-family: $font-family-primary;
  font-weight: $font-light;
  line-height: $line-height;
  color: $color-off-white;
  margin: 0;
  padding: 0;
}

// HEADER

header {
  position: fixed;
  background-color: $color-black;
  z-index: 10;
  width: 100%;
  nav {
    @include display-flex(row, space-between, center, 0.5rem);
    img {
      height: 40px;
      width: auto;
    }
  }
  img {
    height: 40px;
    width: auto;
  }
}

// FOOTER

.footer-main {
  padding: 3em $main-padding;
  background-color: $color-black;
  margin-top: 3em;

  .footer-con {
    @include display-grid;

    padding-bottom: 1em;
    .footer-box1 {
      grid-area: 1 / 1 / 2 / 7;
      img {
        height: 40px;
        width: auto;
      }
    }
    .footer-box2 {
      @include display-flex(column, flex-start, flex-start, 0.5rem);
      grid-area: 1 / 7 / 2 / 9;
    }
    .footer-box3 {
      @include display-flex(column, flex-start, flex-start, 0.5rem);
      grid-area: 1 / 10 / 2 / 13;
    }
  }
  .footer-buttombox {
    @include display-flex(row, center, center, 35px);
    padding: 1.5rem 0;
    border-top: 2px solid $color-off-white;
    i {
      font-size: 2rem;
    }
  }
}
