
@use "stand";
@use "cssReset";

.hero {
  height: 45svh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.headline {
  margin: 7em 0;
  grid-column: 1/13;
  text-align: center;
  @include stand.display-grid;
  grid-template-rows: repeat(2, 1fr);

  .headline-yellow-arrow {
    grid-area: 1 / 5 / 2 / 13;
    @include stand.finger-left(stand.$color-gradient-orange-left, 8em);
    z-index: 1;
  }
  h1 {
    grid-area: 1 / 1 / 2 / 13;
    font-size: 5rem;
    z-index: 10;
    @include stand.display-flex(column, center, center, 0);
  }
  .headline-text-box {
    grid-area: 2 / 1 / 3 / 13;
    @include stand.display-flex(column, center, center, 0);

    p {
      font-size: stand.$font-size-p;
      max-width: 800px;
    }
  }
}

.fir-case {
  grid-area: 2 / 2 / 3 / 7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;

  .fir-case-text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    p {
      font-size: stand.$font-size-p;
    }
  }

  .fir-case-green-arrow {
    grid-area: 1 / 1 / 2 / 2;
    @include stand.finger-right(stand.$color-gradient-green-right, 6em);
    display: flex;
    align-self: flex-start;
    justify-content: center;
    z-index: 1;
    margin-bottom: 3em;
    h2 {
      font-size: stand.$font-size-small-heading;
      z-index: 10;
      display: flex;
      align-self: center;

      font-weight: stand.$font-light;
    }
  }
}
.fir-case-img-con {
  grid-area: 2 / 7 / 3 / 12;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 1fr;
  .fir-case-img-one {
    grid-area: 1 / 2 / 3 / 4;
  }
  .fir-case-img-two {
    grid-area: 2 / 1 / 4 / 3;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.sec-case {
  margin: 14em 0;
  grid-area: 3 / 7 / 4 / 12;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;

  .sec-case-text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    p {
      font-size: stand.$font-size-p;
    }
  }

  .sec-case-yellow-arrow {
    grid-area: 1 / 1 / 2 / 2;
    @include stand.finger-left(stand.$color-gradient-orange-left, 6em);
    display: flex;
    align-self: flex-start;
    justify-content: center;
    z-index: 1;
    margin-bottom: 3em;
    h2 {
      font-size: stand.$font-size-small-heading;
      z-index: 10;
      display: flex;
      align-self: center;

      font-weight: stand.$font-light;
    }
  }
}
.sec-case-img-con {
  margin: 14em 0;

  grid-area: 3 / 2 / 4 / 7;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  .sec-case-img-one {
    grid-area: 1 / 1 / 3 / 3;
  }
  .sec-case-img-two {
    grid-area: 2 / 2 / 4 / 4;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.thi-case {
  grid-area: 4 / 2 / 5 / 7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;

  .thi-case-text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    p {
      font-size: stand.$font-size-p;
    }
  }

  .thi-case-green-arrow {
    grid-area: 1 / 1 / 2 / 2;
    @include stand.finger-right(stand.$color-gradient-green-right, 6em);
    display: flex;
    align-self: flex-start;
    justify-content: center;
    z-index: 1;
    margin-bottom: 3em;
    h2 {
      font-size: stand.$font-size-small-heading;
      z-index: 10;
      display: flex;
      align-self: center;

      font-weight: stand.$font-light;
    }
  }
}
.thi-case-img-con {
  grid-area: 4 / 7 / 5 / 12;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 1fr;
  .thi-case-img-one {
    grid-area: 1 / 2 / 3 / 4;
  }
  .thi-case-img-two {
    grid-area: 2 / 1 / 4 / 3;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.adventure {
  grid-column: 1/13;
  margin: 12em 0;
  @include stand.display-grid;
  grid-template-rows: 1fr;

  .adventure-yellow-arrow {
    grid-area: 1 / 3 / 2 / 11;
    @include stand.finger-right(stand.$color-gradient-orange-right, 100%);
    display: flex;
    align-self: center;
    z-index: 1;
  }
  .adventure-text {
    padding: 2em 0;

    grid-area: 1 / 1 / 2 / 13;
    @include stand.display-flex(column, flex-start, center, 2em);
    font-size: stand.$font-size-p;
    z-index: 3;
    h3 {
      font-size: stand.$font-size-small-heading;
      font-weight: stand.$font-light;
    }
    p {
      max-width: 500px;
      text-align: center;
    }
    a {
      font-size: stand.$font-size-small-heading;
      font-weight: stand.$font-bold;
    }
  }
}

.contact {
  @include stand.display-grid;

  padding: 6em 0;
  background-color: stand.$color-bg;

  .contact-form {
    grid-column: 2/12;
    height: 30svh;
    background-image: url(../img/tingTing.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include stand.display-flex(column, center, center, 0);

    h3 {
      font-size: stand.$font-size-small-heading;
      color: stand.$color-off-white;
    }

    p {
      font-size: stand.$font-size-p;
      color: stand.$color-off-white;
      text-align: center;
    }

    .email-submit {
      @include stand.display-flex(row, space-around, center, 0);
      background-color: stand.$color-off-white;
      margin-top: 0.5rem;
      font-family: stand.$font-family-primary;

      .mail {
        border: 0px solid stand.$color-black;
        width: 250px;
        height: 40px;
        padding-left: 0.5rem;
      }

      .mail::placeholder {
        color: stand.$color-black;
        opacity: 0.5;
      }

      .submit {
        width: 120px;
        border: 0px solid stand.$color-black;
        height: 40px;
        text-align: center;
        background-color: stand.$color-green;
        color: stand.$color-off-white;
      }
    }
  }
}
