// LAVET AF EMIL

@use "stand";
@use "cssReset";

.hero {
  height: 45svh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.headline {
  margin: 7em 0;
  grid-column: 1/13;
  text-align: center;
  @include stand.display-grid;

  .headline-yellow-arrow {
    grid-area: 1 / 5 / 2 / 13;
    @include stand.finger-left(stand.$color-gradient-orange-left, 8em);
    z-index: 1;
  }
  .headline-green-arrow {
    grid-area: 2 / 1 / 3 / 9;
    @include stand.finger-right(stand.$color-gradient-green-right, 8em);
    z-index: 1;
  }

  h1 {
    grid-area: 1 / 1 / 2 / 13;
    font-size: stand.$font-size-large-heading;
  }
  h2 {
    grid-area: 2/1/3/13;
    font-size: stand.$font-size-small-heading;
    font-weight: stand.$font-light;
  }
  h1,
  h2 {
    z-index: 10;
    @include stand.display-flex(column, center, center, 0);
  }
  .headline-text-box {
    grid-area: 3 / 3 / 4 / 11;
    @include stand.display-flex(column, center, center, 0);

    p {
      font-size: stand.$font-size-p;
      max-width: 800px;
    }
  }
}


.contact-us-bg {
  grid-column: 1/13;
  margin: 7em 0;
  padding: 13em 0;
  background: stand.$color-gradient-orange;
}
.contact-us-con {
  @include stand.display-flex(row-reverse, center, center, 2em);
  padding: 0 4em;
  
}
.contact-us-form-img {
  grid-area: 2 / 8 / 3 / 12;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.contact-us-form {
  width: 100%;
  display: grid;
  font-family: stand.$font-family-primary;


  a {
    text-decoration: underline;
    font-weight: stand.$font-bold;
  }
  h3 {
    grid-area: 1 / 1 / 2 / 3;
    font-size: stand.$font-size-small-heading;
  }
  p {
    grid-area: 2 / 1 / 3 / 3;
    margin: 10px 0px 30px;
    font-weight: stand.$font-bold; 
  }
  #name {
    grid-area: 3 / 1 / 4 / 2;
  }
  #secname {
    grid-area: 3 / 2 / 4 / 3;
  }
  #email{
    grid-area: 4 / 1 / 5 / 3;
  }
  #message {
    grid-area: 5 / 1 / 7 / 3;
  }
  #filelabel {
    grid-area: 7 / 1 / 8 / 2;
  }
  .submission {
    grid-area: 7 / 2 / 8 / 3;  
  }



  label {
    padding: 1em;
    background-color: #fff;
    color: #272727;
    margin: 20px 10px 10px 0px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="message"],
  textarea {
    padding: 1em;
    background-color: #fff;
    color: #272727;
    margin: 0px 10px 10px 0px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
  }

  input[type="message"] {
    width: 100%;
  }
  input[type="file"] {
    display: none;
}
  input[type="submit"] {
    color: #fff;
    background-color: stand.$color-black;
    text-align: center;
    margin: 20px 10px 10px 0px;
    border-radius: 2px;
}
input[type="submit"]:hover {
  background-color: stand.$color-green;
  cursor: pointer;
}

}



.section-form1 {
  display: flex;

  label {
    width: 30vh;
  }
}

.visually-hidden {
  /*WCAG defineret class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.adventure {
  grid-column: 1/13;
  margin: 12em 0;
  @include stand.display-grid;
  grid-template-rows: 1fr;

  .adventure-yellow-arrow {
    grid-area: 1 / 3 / 2 / 11;
    @include stand.finger-right(stand.$color-gradient-green-right, 100%);
    display: flex;
    align-self: center;
    z-index: 1;
  }
  .adventure-text {
    padding: 2em 0;

    grid-area: 1 / 1 / 2 / 13;
    @include stand.display-flex(column, flex-start, center, 2em);
    font-size: stand.$font-size-p;
    z-index: 3;
    h3 {
      font-size: stand.$font-size-small-heading;
      font-weight: stand.$font-light;
    }
    p {
      max-width: 500px;
      text-align: center;
    }
    a {
      font-size: stand.$font-size-small-heading;
      font-weight: stand.$font-bold;
    }
  }
}

// LAVET AF EMIL og TOBIAS
.contact {
  @include stand.display-grid;

  padding: 6em 0;
  background-color: stand.$color-bg;

  .contact-form {
    grid-column: 2/12;
    height: 30svh;
    background-image: url(../img/tingTing.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include stand.display-flex(column, center, center, 0);

    h3 {
      font-size: stand.$font-size-small-heading;
      color: stand.$color-off-white;
    }

    p {
      font-size: stand.$font-size-p;
      color: stand.$color-off-white;
      text-align: center;
    }

    .email-submit {
      @include stand.display-flex(row, space-around, center, 0);
      background-color: stand.$color-off-white;
      margin-top: 0.5rem;
      font-family: stand.$font-family-primary;

      .mail {
        border: 0px solid stand.$color-black;
        width: 250px;
        height: 40px;
        padding-left: 0.5rem;
      }

      .mail::placeholder {
        color: stand.$color-black;
        opacity: 0.5;
      }

      .submit {
        width: 120px;
        border: 0px solid stand.$color-black;
        height: 40px;
        text-align: center;
        background-color: stand.$color-green;
        color: stand.$color-off-white;
      }
    }
  }
}
