@use "stand";
@use "cssReset";

.hero {
  height: 45svh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.headline {
  margin: 7em 0;
  grid-column: 1/13;
  text-align: center;
  @include stand.display-grid;

  .headline-yellow-arrow {
    grid-area: 1 / 1 / 2 / 9;
    @include stand.finger-right(stand.$color-gradient-orange-right, 8em);
    z-index: 1;
  }
  .headline-green-arrow {
    grid-area: 2 / 4 / 3 / 13;
    @include stand.finger-left(stand.$color-gradient-green-left, 8em);
    z-index: 1;
  }

  h1 {
    grid-area: 1 / 1 / 2 / 9;
  }
  h2 {
    grid-area: 2/4/3/13;
  }
  h1,
  h2 {
    font-size: stand.$font-size-large-heading;
    z-index: 10;
    @include stand.display-flex(column, center, center, 0);
  }
  .headline-text-box {
    grid-area: 3 / 3 / 4 / 11;
    @include stand.display-flex(column, center, center, 0);

    p {
      font-size: stand.$font-size-p;
      max-width: 800px;
    }
  }
}

.fir-creative {
  grid-column: 7/12;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;

  .fir-creative-text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    p {
      font-size: stand.$font-size-p;
    }
  }

  .fir-creative-yellow-arrow {
    grid-area: 1 / 1 / 2 / 2;
    @include stand.finger-left(stand.$color-gradient-orange-left, 6em);
    display: flex;
    align-self: flex-start;
    justify-content: center;
    z-index: 1;
    margin-bottom: 3em;
    h2 {
      font-size: stand.$font-size-small-heading;
      z-index: 10;
      display: flex;
      align-self: center;

      font-weight: stand.$font-light;
    }
  }
}
.fir-creative-img-con {
  grid-column: 2/7;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  .fir-creative-img-one {
    grid-area: 1 / 1 / 3 / 3;
  }
  .fir-creative-img-two {
    grid-area: 2 / 2 / 4 / 4;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sec-creative {
  background: stand.$color-gradient-orange;
  margin: 10em 0;
  padding: 6em 0;
  grid-column: 1/13;
  @include stand.display-grid;
  width: 100%;
  h3 {
    grid-column: 1/13;
    text-align: center;
    padding-bottom: 1.5em;
    font-size: stand.$font-size-small-heading;
    font-weight: stand.$font-light;
  }
  .sec-creative-img-one {
    grid-area: 2 / 2 / 4 / 8;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .sec-creative-img-two {
    grid-area: 3 / 6 / 5 / 12;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .sec-creative-text-one {
    grid-column: 8/12;
  }
  .sec-creative-text-two {
    grid-column: 2/6;
  }
}

.fou-skill {
  grid-column: 2/7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;

  .fou-skill-text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    p {
      font-size: stand.$font-size-p;
    }
  }

  .fou-skill-green-arrow {
    grid-area: 1 / 1 / 2 / 2;
    @include stand.finger-right(stand.$color-gradient-green-right, 6em);
    display: flex;
    align-self: flex-start;
    justify-content: center;
    z-index: 1;
    margin-bottom: 3em;
    h2 {
      font-size: stand.$font-size-small-heading;
      z-index: 10;
      display: flex;
      align-self: center;

      font-weight: stand.$font-light;
    }
  }
}
.fou-skill-img-con {
  grid-column: 7/12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  .fou-skill-img-one {
    grid-area: 1 / 2 / 3 / 4;
  }
  .fou-skill-img-two {
    grid-area: 2 / 1 / 4 / 3;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.adventure {
  grid-column: 1/13;
  margin: 12em 0;
  @include stand.display-grid;
  grid-template-rows: 1fr;

  .adventure-yellow-arrow {
    grid-area: 1 / 3 / 2 / 11;
    @include stand.finger-right(stand.$color-gradient-orange-right, 100%);
    display: flex;
    align-self: center;
    z-index: 1;
  }
  .adventure-text {
    padding: 2em 0;

    grid-area: 1 / 1 / 2 / 13;
    @include stand.display-flex(column, flex-start, center, 2em);
    font-size: stand.$font-size-p;
    z-index: 3;
    h3 {
      font-size: stand.$font-size-small-heading;
      font-weight: stand.$font-light;
    }
    p {
      max-width: 500px;
      text-align: center;
    }
    a {
      font-size: stand.$font-size-p-big;
      font-weight: stand.$font-bold;
    }
  }
}

@media only screen and (max-width: 480px) {
  .headline {
    h1,
    h2 {
      font-size: stand.$font-size-medium-heading;
    }
    .headline-text-box {
      grid-area: 3 / 3 / 4 / 11;
      @include stand.display-flex(column, center, center, 0);

      p {
        font-size: stand.$font-size-p-big;
      }
    }
  }

  .fir-creative-img-con {
    margin-top: 6em;
    .fir-creative-img-one {
      grid-area: 1 / 1 / 3 / 3;
      margin-top: 2em;
    }
    .fir-creative-img-two {
      grid-area: 2 / 2 / 4 / 4;
    }
  }

  .sec-creative {
    h3 {
      grid-column: 1/13;
      text-align: center;
      padding-bottom: 1.5em;
      font-size: stand.$font-size-medium-heading;
      font-weight: stand.$font-light;
    }
    .sec-creative-img-one {
      grid-area: 2 / 3 / 4 / 11;
    }
    .sec-creative-img-two {
      display: none;
    }
    .sec-creative-text-one {
      grid-column: 3/11;
      font-size: stand.$font-size-p;
    }
    .sec-creative-text-two {
      grid-column: 3/11;
      font-size: stand.$font-size-p;
    }
  }

  .fou-skill {
    grid-column: 2/12;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 1fr;
  }
  .fou-skill-img-con {
    grid-column: 2/12;
    display: grid;
    .fou-skill-img-one {
      display: none;
    }

    .fou-skill-img-two {
      grid-area: 1/1/4/11;
    }
  }

  .adventure {
    margin: 4em 0;
  }
}
