@use "stand";
@use "cssReset";

.hero {
  height: 45svh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.headline {
  margin: 7em 0;
  grid-column: 1/13;
  text-align: center;
  @include stand.display-grid;
  grid-template-rows: repeat(2, 1fr);

  .headline-yellow-arrow {
    grid-area: 1 / 5 / 2 / 13;
    @include stand.finger-left(stand.$color-gradient-orange-left, 8em);
    z-index: 1;
  }
  h1 {
    grid-area: 1 / 1 / 2 / 13;
    font-size: stand.$font-size-large-heading;
    font-family: stand.$font-family-secondary;
    z-index: 10;
    @include stand.display-flex(column, center, center, 0);
  }
  .headline-text-box {
    grid-area: 2 / 1 / 3 / 13;
    @include stand.display-flex(column, center, center, 0);

    p {
      font-size: stand.$font-size-p;
      max-width: 800px;
    }
  }
}

.fir-skill-green-arrow {
  grid-area: 2 / 2 / 3 / 7;
  @include stand.finger-right(stand.$color-gradient-green-right, 6em);
  display: flex;
  align-self: flex-start;
  justify-content: center;
  z-index: 1;
  margin-bottom: 3em;
  h2 {
    font-size: stand.$font-size-small-heading;
    z-index: 10;
    display: flex;
    align-self: center;

    font-weight: stand.$font-light;
  }
}
.fir-skill-text-box {
  grid-area: 3 / 2 / 5 / 7;
  display: flex;
  flex-direction: column;
  gap: 40px;
  p {
    font-size: stand.$font-size-p;
  }
}

.fir-skill-img-con-one {
  grid-area: 3 / 7 / 7 / 12;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.fir-skill-img-con-two {
  grid-area: 6 / 5 / 8 / 9;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.gap {
  grid-column: 1/13;
  height: 10em;
}
.sec-skill-green-arrow {
  grid-area: 9 / 8 / 13 / 9;
  @include stand.finger-up(stand.$color-gradient-green-up, 10em);
  height: 600px;
  z-index: 2;
}
.sec-skill-yellow-arrow {
  grid-area: 10 / 2 / 11 / 8;
  @include stand.finger-left(stand.$color-gradient-orange-left, 10em);
  z-index: 1;
}

.sec-skill-head {
  grid-area: 10 / 2 / 11 / 9;
  z-index: 3;
  font-size: stand.$font-size-large-heading;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin-right: 95px;
  span {
    color: stand.$color-orange;
  }
}

.sec-skill-img-one {
  grid-area: 12 / 2 / 14 / 7;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.sec-skill-img-two {
  grid-area: 14 / 2 / 16 / 7;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sec-skill-text-box {
  grid-area: 13 / 8 / 15 / 11;
  p {
    padding-bottom: 30px;
  }
}

.thi-skill {
  grid-area: 17 / 3 / 19 / 12;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  .thi-skill-text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    p {
      font-size: stand.$font-size-p;
    }
  }

  .thi-skill-yellow-arrow {
    grid-area: 1 / 1 / 2 / 2;
    @include stand.finger-left(stand.$color-gradient-orange-left, 6em);
    display: flex;
    align-self: flex-start;
    justify-content: center;
    z-index: 1;
    margin-bottom: 3em;
    h2 {
      font-size: stand.$font-size-small-heading;
      z-index: 10;
      display: flex;
      align-self: center;

      font-weight: stand.$font-light;
    }
  }
}
.thi-skill-img-con {
  grid-column: 2/7;
  grid-row: span 2;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  .thi-skill-img-one {
    grid-area: 1 / 1 / 3 / 3;
  }
  .thi-skill-img-two {
    grid-area: 2 / 2 / 4 / 4;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fou-skill {
  grid-column: 2/7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;

  .fou-skill-text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    p {
      font-size: stand.$font-size-p;
    }
  }

  .fou-skill-green-arrow {
    grid-area: 1 / 1 / 2 / 2;
    @include stand.finger-right(stand.$color-gradient-green-right, 6em);
    display: flex;
    align-self: flex-start;
    justify-content: center;
    z-index: 1;
    margin-bottom: 3em;
    h2 {
      font-size: stand.$font-size-small-heading;
      z-index: 10;
      display: flex;
      align-self: center;

      font-weight: stand.$font-light;
    }
  }
}
.fou-skill-img-con {
  grid-column: 7/12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  .fou-skill-img-one {
    grid-area: 1 / 2 / 3 / 4;
  }
  .fou-skill-img-two {
    grid-area: 2 / 1 / 4 / 3;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.adventure {
  grid-column: 1/13;
  margin: 12em 0;
  @include stand.display-grid;
  grid-template-rows: 1fr;

  .adventure-yellow-arrow {
    grid-area: 1 / 3 / 2 / 11;
    @include stand.finger-right(stand.$color-gradient-orange-right, 100%);
    display: flex;
    align-self: center;
    z-index: 1;
  }
  .adventure-text {
    padding: 2em 0;

    grid-area: 1 / 1 / 2 / 13;
    @include stand.display-flex(column, flex-start, center, 2em);
    font-size: stand.$font-size-p;
    z-index: 3;
    h3 {
      font-size: stand.$font-size-small-heading;
      font-weight: stand.$font-light;
    }
    p {
      max-width: 500px;
      text-align: center;
    }
    a {
      font-size: stand.$font-size-p-big;
      font-weight: stand.$font-bold;
    }
  }
}

@media only screen and (max-width: 480px) {
  .headline {
    .headline-yellow-arrow {
      grid-area: 1 / 2 / 2 / 13;
    }

    h1 {
      grid-area: 1 / 1 / 2 / 13;
      font-size: stand.$font-size-medium-heading;
    }

    .headline-text-box {
      grid-area: 2 / 3 / 3 / 11;

      p {
        font-size: stand.$font-size-p-big;
      }
    }
  }

  .fir-skill-green-arrow {
    grid-area: 2 / 2 / 3 / 12;
    h2 {
      font-size: stand.$font-size-medium-heading;
    }
  }
  .fir-skill-text-box {
    grid-area: 4 / 3 / 5 / 11;
    P {
      font-size: stand.$font-size-p-big;
    }
  }
  .fir-skill-img-con-one {
    grid-area: 3 / 3 / 4 / 11;
  }
  .fir-skill-img-con-two {
    display: none;
  }
  .gap {
    grid-column: 1/13;
    height: 3em;
  }

  .sec-skill-green-arrow {
    height: 350px;
    margin-bottom: 3em;
  }

  .sec-skill-head {
    grid-area: 10 / 3 / 11 / 9;
    z-index: 3;
    font-size: stand.$font-size-large-heading;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-right: 48%;

    span {
      color: stand.$color-orange;
    }
  }

  .sec-skill-img-one {
    display: none;
  }

  .sec-skill-img-two {
    grid-area: 15 / 3 / 16 / 11;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .sec-skill-text-box {
    grid-area: 13/3/15/11;

    p {
      padding-bottom: 30px;
    }
  }

  .thi-skill {
    grid-area: 17 / 3 / 19 / 11;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    margin-top: 6em;

    .thi-skill-text-box {
      display: flex;
      flex-direction: column;
      gap: 40px;

      p {
        font-size: stand.$font-size-p-big;
      }
    }

    .thi-skill-yellow-arrow {
      grid-area: 1 / 1 / 2 / 2;
      @include stand.finger-left(stand.$color-gradient-orange-left, 6em);
      display: flex;
      align-self: flex-start;
      justify-content: center;
      z-index: 1;
      margin-bottom: 3em;
      h2 {
        font-size: stand.$font-size-medium-heading;
      }
    }
  }

  .thi-skill-img-con {
    grid-column: 3/11;
    grid-row: span 4;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .thi-skill-img-one {
      display: none;
    }
    .thi-skill-img-two {
      grid-area: 1/3/4/12;
    }
  }

  .fou-skill {
    grid-column: 1/13;
    margin-top: 6em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: 20 / 3 / 19 / 11;
    .fou-skill-text-box {
      display: flex;
      p {
        font-size: stand.$font-size-p-big;
      }
    }

    .fou-skill-green-arrow {
      grid-area: 1 / 1 / 2 / 11;
      h2 {
        font-size: stand.$font-size-medium-heading;
      }
    }
  }

  .fou-skill-img-con {
    grid-column: 3/11;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .fou-skill-img-one {
      display: none;
    }

    .fou-skill-img-two {
      grid-area: 1/1/2/4;
    }

    P {
      grid-area: 1 / 2 / 5 / 4;
    }
  }

  .adventure {
    margin: 4em 0;
  }
}
