@use "stand";
@use "cssReset";

.hero {
  height: 45svh;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

main {
  @include stand.display-grid;
  background-color: stand.$color-bg;
}

.hero {
  height: 45svh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.welcome {
  grid-column: 1/13;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-family: stand.$font-family-secondary;
  }

  p {
    font-size: 1.2rem;
    font-family: stand.$font-family-primary;
  }
}

.cases {
  padding: 7em stand.$main-padding;
  grid-column: 1/13;

  @include stand.display-grid;
  grid-template-rows: repeat(4, 1fr);
  h2 {
    grid-area: 1 / 4 / 2 / 8;
    font-size: 2rem;
  }
  p {
    grid-area: 2 / 4 / 3 / 8;
  }
}

.skills {
  grid-column: 1/13;
}

.creative-solotion {
  grid-column: 1/13;

  img {
    width: 35%;
    height: auto;
    grid-column: 1/6;
  }
}

.vision {
  grid-column: 1/13;

  img {
    width: 35%;
    height: auto;
    grid-column: 1/6;
  }
}

.who-we-are {
  grid-column: 1/13;
}

.adventure {
  grid-column: 1/13;
}

.contact {
  padding: 0 stand.$main-padding;

  .contact-form {
    height: 30svh;

    background-color: stand.$color-bg;
    @include stand.display-flex(column, center, center, 0);

    h3 {
      font-size: 2rem;
      color: stand.$color-off-white;
    }

    p {
      font-size: 1.2rem;
      color: stand.$color-off-white;
    }

    .email-submit {
      @include stand.display-flex(row, space-around, center, 0);
      background-color: stand.$color-green;
      margin-top: 0.5rem;

      .mail {
        border: 1px solid stand.$color-bg;
        // border-left: 1px solid $color-black;
        // border-top: 1px solid $color-black;
        // border-bottom: 1px solid $color-black;
        width: 250px;
        height: 30px;
      }

      .submit {
        width: 120px;
        border: 1px solid stand.$color-bg;
        height: 30px;
        text-align: center;
      }
    }
  }
}
