@charset "UTF-8";
@import url("https://use.typekit.net/yqg7pai.css");
:root {
  --font-size: 16px;
  --font-size-p-mobile: 0px;
  --font-size-big-heading-mobile: 0px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "futura pt", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

p,
a {
  font-family: poppins, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

header {
  width: 100svw;
  z-index: 11;
  position: fixed;
}
header nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #131313;
  z-index: 11;
  padding: 0.5em;
}
header nav .fa-bars-staggered {
  display: none;
  grid-area: 1/12/2/13;
  color: #fafafa;
  font-size: calc(var(--font-size) * 2.5);
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
header nav a {
  white-space: nowrap;
  font-size: calc((var(--font-size) + var(--font-size-p-mobile)) * 1.2);
  font-weight: 600;
  align-items: center;
  display: flex;
}
header nav div p {
  margin: -0.5em 0;
  padding-left: 0.3em;
  font-family: "futura pt", sans-serif;
}
header nav .header-contact {
  grid-column: 10/11;
  justify-content: flex-end;
}
header nav .header-cases {
  grid-column: 11/12;
  justify-content: center;
  padding: 0 3em;
}
header nav .header-about {
  grid-column: 12/13;
  justify-content: flex-start;
  padding: 0 3em 0 0;
}
header nav img {
  height: 50px;
  width: auto;
}
header .header-mobile {
  grid-area: 2/6/3/8;
  display: none;
}
header .header-mobile.active {
  grid-area: 2/6/3/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-mobile.active a {
  padding: 0.3em 1em;
  font-size: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #272727;
  background-image: url(../img/mainTingTing.svg);
  background-size: 100%;
  background-position-y: 30%;
  background-repeat: no-repeat;
}

.hero {
  height: 65svh;
}
.hero video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Nyhedsbrev */
.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 6em 0;
  background-color: #272727;
}
.contact .contact-form {
  grid-column: 2/12;
  height: 30svh;
  background-image: url(../img/tingTing.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.contact .contact-form h3 {
  font-size: calc(var(--font-size) * 2.5);
  color: #fafafa;
}
.contact .contact-form p {
  font-size: calc((var(--font-size) + var(--font-size-p-mobile)) * 1.2);
  color: #fafafa;
  text-align: center;
}
.contact .contact-form .email-submit {
  margin-top: 0.5rem;
  font-family: poppins, sans-serif;
}
.contact .contact-form .email-submit .mail {
  border: 0px solid #131313;
  width: 250px;
  height: 40px;
  padding-left: 0.5rem;
  background-color: #fafafa;
}
.contact .contact-form .email-submit .mail::-moz-placeholder {
  color: #131313;
  opacity: 0.5;
}
.contact .contact-form .email-submit .mail::placeholder {
  color: #131313;
  opacity: 0.5;
}
.contact .contact-form .email-submit .submit {
  width: 120px;
  border: 0px solid #131313;
  height: 40px;
  text-align: center;
  background-color: #386354;
  color: #fafafa;
}

.footer-main {
  padding: 3em 5em;
  background-color: #131313;
}
.footer-main .footer-con {
  margin: 0 0 4em;
  gap: 2em;
  overflow-wrap: break-word;
}
.footer-main .footer-con .footer-box1 {
  grid-area: 1/1/2/7;
}
.footer-main .footer-con .footer-box1 img {
  height: 40px;
  width: auto;
}
.footer-main .footer-con .footer-box1 div {
  display: inline-block;
}
.footer-main .footer-con .footer-box1 div p {
  font-family: "futura pt", sans-serif;
}
.footer-main .footer-con .footer-box2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  grid-area: 1/7/2/9;
}
.footer-main .footer-con .footer-box3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  grid-area: 1/10/2/13;
}
.footer-main .footer-buttombox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 1.5rem 0;
  border-top: 2px solid #fafafa;
}
.footer-main .footer-buttombox i {
  font-size: 2rem;
}

@media only screen and (min-width: 1080px) {
  :root {
    --font-size: 14px;
  }
  .contact-form {
    grid-column: 1/-1;
    width: 1080px;
    margin: auto;
  }
  .footer-con {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .footer-con .footer-box1 {
    inline-size: 500px;
  }
  .footer-buttombox {
    max-width: 1080px;
    margin: auto;
  }
}
@media only screen and (max-width: 1300px) {
  :root {
    --font-size: 14px;
  }
  .footer-con {
    display: flex;
  }
  .footer-con .footer-box1 {
    inline-size: 500px;
  }
}
@media only screen and (max-width: 1024px) {
  :root {
    --font-size: 12px;
  }
  .hero {
    height: 40svh;
  }
}
@media only screen and (max-width: 950px) {
  :root {
    --font-size-big-heading-mobile: 3px;
    --font-size-p-mobile: 3px;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --font-size: 10px;
  }
  .contact-form {
    grid-column: 1/-1;
    height: auto;
  }
  .hero {
    height: 35svh;
  }
  .footer-con {
    display: flex;
    flex-wrap: wrap;
  }
  .fa-bars-staggered {
    display: flex !important;
  }
  .header-contact {
    display: none;
  }
  .header-cases {
    display: none;
  }
  .header-about {
    display: none;
  }
  .email-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
}
@media only screen and (max-width: 480px) {
  :root {
    --font-size: 8px;
  }
  .footer-con {
    overflow-wrap: break-word;
  }
  .email-submit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
  .contact-form {
    grid-column: 1/-4;
    height: auto;
  }
  .hero {
    height: 30svh;
  }
}
@media only screen and (max-width: 320px) {
  :root {
    --font-size: 6px;
  }
}
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
/* img {
    max-inline-size: 100%;
    max-block-size: 100%;
} */
/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
/* textarea {
    white-space: revert;
} */
/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

.welcome {
  margin: 7em 0;
  grid-column: 1/13;
  text-align: center;
}
.welcome h1 {
  font-size: calc(var(--font-size) * 4);
  font-family: "futura pt", sans-serif;
}
.welcome p {
  font-size: calc((var(--font-size) + var(--font-size-p-mobile)) * 1.2);
  font-family: poppins, sans-serif;
}

.cases {
  padding: 7em 5em;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: repeat(4, 1fr);
}
.cases .cases-h2 {
  font-size: calc((var(--font-size) - var(--font-size-big-heading-mobile)) * 6);
  grid-area: 1/3/2/6;
  z-index: 10;
  display: flex;
  align-items: center;
}
.cases .cases-p {
  font-size: calc(var(--font-size) * 2.5);
  grid-area: 2/3/3/6;
  white-space: nowrap;
  z-index: 10;
  display: flex;
  align-items: center;
}
.cases .cases-yellow-arrow {
  grid-area: 1/3/2/8;
  background: linear-gradient(to right, rgb(224, 155, 98) 1%, rgba(224, 155, 98, 0.75) 30%, rgba(224, 155, 98, 0) 100%);
  z-index: 1;
  height: 100%;
  border-radius: 250px 0 0 250px;
  -webkit-border-radius: 250px 0 0 250px;
  -moz-border-radius: 250px 0 0 250px;
  position: relative;
  right: 30px;
}
.cases .cases-green-arrow {
  grid-area: 2/1/3/6;
  display: flex;
  align-self: center;
  background: linear-gradient(to left, rgb(56, 99, 84) 1%, rgba(56, 99, 84, 0.75) 30%, rgba(56, 99, 84, 0) 100%);
  z-index: 1;
  height: 5em;
  border-radius: 0 250px 250px 0;
  -webkit-border-radius: 0 250px 250px 0;
  -moz-border-radius: 0 250px 250px 0;
}
.cases .cases-mask {
  grid-area: 1/8/5/11;
  z-index: 2;
  margin-top: -3em;
  background-position: top center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 167 352'%3E%3Cpath d='M147 0h-11c-6 0-6 1-6 6s-5 8-10 8H47c-5 0-10-3-10-8s-1-6-6-6H20C7 0 0 7 0 20v312c0 12 6 20 20 20h127c14 0 20-8 20-20V20c0-13-7-20-20-20zm-35 349H55a1 1 0 110-3h57a1 1 0 010 3z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 167 352'%3E%3Cpath d='M147 0h-11c-6 0-6 1-6 6s-5 8-10 8H47c-5 0-10-3-10-8s-1-6-6-6H20C7 0 0 7 0 20v312c0 12 6 20 20 20h127c14 0 20-8 20-20V20c0-13-7-20-20-20zm-35 349H55a1 1 0 110-3h57a1 1 0 010 3z'/%3E%3C/svg%3E");
  -webkit-mask-position: center center;
          mask-position: center center;
}
.cases .cases-mask video {
  height: 100%;
}

.skills {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
}
.skills h2 {
  grid-area: 1/1/2/13;
  font-size: calc((var(--font-size) - var(--font-size-big-heading-mobile)) * 6);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-self: center;
}
.skills .skills-yellow-arrow {
  grid-area: 1/1/2/7;
  background: linear-gradient(to left, rgb(224, 155, 98) 1%, rgba(224, 155, 98, 0.75) 30%, rgba(224, 155, 98, 0) 100%);
  z-index: 1;
  height: 8em;
  border-radius: 0 250px 250px 0;
  -webkit-border-radius: 0 250px 250px 0;
  -moz-border-radius: 0 250px 250px 0;
  display: flex;
  align-self: center;
}
.skills .skills-con {
  grid-area: 2/1/3/13;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  text-align: center;
  margin-top: 2em;
}
.skills .skills-con .skills-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.skills .skills-con .skills-box p {
  font-size: calc(var(--font-size) * 1.5);
}
.skills .skills-con .skills-box .skills-green-arrow {
  background: linear-gradient(to bottom, rgb(56, 99, 84) 1%, rgba(56, 99, 84, 0.75) 30%, rgba(56, 99, 84, 0) 100%);
  z-index: 1;
  width: 2em;
  border-radius: 250px 250px 0 0;
  -webkit-border-radius: 250px 250px 0 0;
  -moz-border-radius: 250px 250px 0 0;
  height: 7em;
  width: 7em;
}
.skills .skills-con .skills-box .skills-green-arrow i {
  font-size: calc(var(--font-size) * 4);
  color: #fafafa;
  margin-top: 0.5em;
}

.creative-solotion {
  grid-column: 1/13;
  margin: 7em 0;
  padding: 13em 0;
  background: linear-gradient(to bottom, rgba(224, 155, 98, 0) 0%, rgba(224, 155, 98, 0.5) 25%, rgb(224, 155, 98) 50%, rgba(224, 155, 98, 0.5) 75%, rgba(224, 155, 98, 0) 100%);
}
.creative-solotion h2 {
  font-size: calc((var(--font-size) - var(--font-size-big-heading-mobile)) * 6);
  text-align: center;
}
.creative-solotion .creative-solotion-con {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
.creative-solotion .creative-solotion-con .creative-solotion-box {
  width: 20svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.creative-solotion .creative-solotion-con .creative-solotion-box img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.creative-solotion .creative-solotion-con .creative-solotion-box p {
  background-color: #fafafa;
  color: #131313;
  font-size: calc((var(--font-size) + var(--font-size-p-mobile)) * 1.2);
  padding: 0.5em;
  width: 100%;
}

.vision {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
}
.vision h2 {
  grid-area: 1/1/2/13;
  font-size: calc((var(--font-size) - var(--font-size-big-heading-mobile)) * 6);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-self: center;
}
.vision .vision-yellow-arrow {
  grid-area: 1/5/2/12;
  background: linear-gradient(to right, rgb(224, 155, 98) 1%, rgba(224, 155, 98, 0.75) 30%, rgba(224, 155, 98, 0) 100%);
  z-index: 1;
  height: 8em;
  border-radius: 250px 0 0 250px;
  -webkit-border-radius: 250px 0 0 250px;
  -moz-border-radius: 250px 0 0 250px;
  display: flex;
  align-self: center;
}
.vision .vision-text {
  grid-area: 2/2/3/7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
  font-size: calc((var(--font-size) + var(--font-size-p-mobile)) * 1.2);
}
.vision .vision-text p {
  max-width: 500px;
}
.vision .vision-text a {
  font-weight: 600;
}
.vision .vision-img {
  grid-area: 2/7/3/12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.vision .vision-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.vision .vision-img .vision-img-one {
  grid-area: 1/2/3/4;
}
.vision .vision-img .vision-img-two {
  grid-area: 2/1/4/3;
}

.who-we-are {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: repeat(2, 1fr);
}
.who-we-are h2 {
  grid-area: 1/1/2/13;
  font-size: calc((var(--font-size) - var(--font-size-big-heading-mobile)) * 6);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-self: center;
}
.who-we-are .who-we-are-yellow-arrow {
  grid-area: 1/1/2/7;
  background: linear-gradient(to left, rgb(224, 155, 98) 1%, rgba(224, 155, 98, 0.75) 30%, rgba(224, 155, 98, 0) 100%);
  z-index: 1;
  height: 8em;
  border-radius: 0 250px 250px 0;
  -webkit-border-radius: 0 250px 250px 0;
  -moz-border-radius: 0 250px 250px 0;
  display: flex;
  align-self: center;
}
.who-we-are .who-we-are-text {
  grid-area: 2/7/3/12;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
  font-size: calc((var(--font-size) + var(--font-size-p-mobile)) * 1.2);
}
.who-we-are .who-we-are-text p {
  max-width: 500px;
}
.who-we-are .who-we-are-text a {
  font-weight: 600;
}
.who-we-are .who-we-are-text a:hover {
  color: #e09b62;
  border-bottom: 1px solid #e09b62;
  width: -moz-fit-content;
  width: fit-content;
}
.who-we-are .who-we-are-img {
  grid-area: 2/2/3/7;
  max-width: 700px;
}
.who-we-are .who-we-are-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.adventure {
  grid-column: 1/13;
  margin: 12em 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: 1fr;
}
.adventure .adventure-green-arrow {
  grid-area: 1/3/2/11;
  background: linear-gradient(to left, rgb(56, 99, 84) 1%, rgba(56, 99, 84, 0.75) 30%, rgba(56, 99, 84, 0) 100%);
  z-index: 1;
  height: 100%;
  border-radius: 0 250px 250px 0;
  -webkit-border-radius: 0 250px 250px 0;
  -moz-border-radius: 0 250px 250px 0;
  display: flex;
  align-self: center;
  z-index: 1;
}
.adventure .adventure-text {
  padding: 2em 0;
  grid-area: 1/1/2/13;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  font-size: calc((var(--font-size) + var(--font-size-p-mobile)) * 1.2);
  z-index: 3;
}
.adventure .adventure-text h3 {
  font-size: calc(var(--font-size) * 2.5);
  font-weight: 300;
}
.adventure .adventure-text p {
  max-width: 500px;
  text-align: center;
}
.adventure .adventure-text a {
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 600;
}
.adventure .adventure-text a:hover {
  color: #e09b62;
  border-bottom: 1px solid #e09b62;
}

/* 1080px+ */
@media only screen and (min-width: 1080px) {
  .creative-solotion-con,
  .vision,
  .who-we-are,
  .skills,
  .cases {
    margin: auto;
    width: 1080px;
  }
  .adventure {
    margin: 12em auto;
    width: 1080px;
  }
}
/* Tablet/Ipad  */
@media only screen and (max-width: 768px) {
  :root {
    --font-size: 10px;
  }
  .skills h2 {
    font-size: calc(var(--font-size) * 4);
  }
  .creative-solotion h2 {
    font-size: calc(var(--font-size) * 4);
  }
  .creative-solotion .creative-solotion-con {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
  }
  .creative-solotion .creative-solotion-con .creative-solotion-box {
    width: 40svw;
  }
  .creative-solotion .creative-solotion-con .creative-solotion-box p {
    font-size: calc(var(--font-size) * 1.5);
  }
  .cases .cases-mask video {
    width: 40svw;
    height: 100%;
  }
}
/* Mobil version */
@media only screen and (max-width: 480px) {
  :root {
    --font-size: 8px;
  }
  .cases {
    grid-column: 1/13;
    grid-template-rows: repeat(4, 1fr);
  }
  .cases .cases-h2 {
    grid-area: 1/3/2/6;
  }
  .cases .cases-p {
    grid-area: 2/3/3/1;
  }
  .cases .cases-yellow-arrow {
    grid-area: 1/3/2/15;
    right: 30px;
  }
  .cases .cases-green-arrow {
    grid-area: 2/1/3/8;
  }
  .cases .cases-mask {
    grid-area: 1/6/7/12;
    z-index: 2;
    margin-top: -3em;
  }
  .cases .cases-mask video {
    width: 40svw;
    height: 100%;
  }
  .skills h2 {
    grid-area: 1/1/2/13;
    font-size: calc(var(--font-size) * 4);
  }
  .skills .skills-yellow-arrow {
    grid-area: 1/1/2/11;
  }
  .skills .skills-con {
    grid-area: 2/1/3/13;
  }
  .skills .skills-con .skills-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .skills .skills-con .skills-box .skills-green-arrow i {
    margin-top: 1em;
  }
  .creative-solotion h2 {
    font-size: calc(var(--font-size) * 4);
  }
  .creative-solotion .creative-solotion-con {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
  }
  .creative-solotion .creative-solotion-con .creative-solotion-box {
    width: 55svw;
  }
  .creative-solotion .creative-solotion-con .creative-solotion-box p {
    font-size: calc(var(--font-size) * 1.5);
  }
  .vision {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: repeat(3, 1fr);
  }
  .vision h2 {
    grid-area: 1/1/2/13;
    font-size: calc(var(--font-size) * 4);
  }
  .vision .vision-yellow-arrow {
    grid-area: 1/4/2/13;
    background: linear-gradient(to right, rgb(224, 155, 98) 1%, rgba(224, 155, 98, 0.75) 30%, rgba(224, 155, 98, 0) 100%);
    z-index: 1;
    height: 8em;
    border-radius: 250px 0 0 250px;
    -webkit-border-radius: 250px 0 0 250px;
    -moz-border-radius: 250px 0 0 250px;
    display: flex;
    align-self: center;
  }
  .vision .vision-text {
    grid-area: 2/2/3/7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    font-size: calc((var(--font-size) + var(--font-size-p-mobile)) * 1.2);
  }
  .vision .vision-text p {
    max-width: 500px;
  }
  .vision .vision-text a {
    font-weight: 600;
  }
  .vision .vision-img {
    grid-area: 2/7/3/12;
    gap: 0.5em;
  }
  .vision .vision-img .vision-img-one {
    grid-area: 1/1/3/5;
  }
  .vision .vision-img .vision-img-two {
    grid-area: 2/1/3/5;
  }
  .who-we-are h2 {
    grid-area: 1/1/2/13;
    font-size: calc(var(--font-size) * 4);
  }
  .who-we-are .who-we-are-yellow-arrow {
    grid-area: 1/1/2/11;
  }
  .who-we-are .who-we-are-img {
    grid-area: 2/2/5/7;
    max-width: 700px;
  }
  .who-we-are a a:hover {
    color: #e09b62;
    border-bottom: 1px solid #e09b62;
    width: -moz-max-content;
    width: max-content;
  }
  .adventure {
    margin: 4em 0;
  }
}
@media only screen and (max-width: 950px) {
  .vision-img {
    grid-area: 2/2/3/12 !important;
  }
  .vision-text {
    grid-area: 3/2/4/12 !important;
    align-self: center;
  }
}
@media only screen and (max-width: 380px) {
  :root {
    --font-size: 8px;
  }
}/*# sourceMappingURL=style.css.map */