@use "stand";
@use "cssReset";

main {
  @include stand.display-grid;
  background-color: stand.$color-bg;
  background-image: url(../img/mainTingTing.svg);
  background-size: str-length($string: "") + 100%;
  background-position-y: 30%;
  background-repeat: no-repeat;
}

.hero {
  height: 45svh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backdrop-filter: grayscale(10%);
  }
}

.welcome {
  margin: 7em 0;
  grid-column: 1/13;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-family: stand.$font-family-secondary;
  }

  p {
    font-size: 1.2rem;
    font-family: stand.$font-family-primary;
  }
}

.cases {
  padding: 7em stand.$main-padding;
  grid-column: 1/13;
  background-image: url(../img/caseseTingTing.svg);
  background-repeat: no-repeat;
  background-position: bottom 70% left;
  @include stand.display-grid;
  grid-template-rows: repeat(4, 1fr);

  h2 {
    font-size: 6rem;
    grid-area: 1 / 3 / 2 / 6;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  p {
    font-size: 2.2rem;
    grid-area: 2 / 3 / 3 / 6;
    white-space: nowrap;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  .cases-yellow-arrow {
    grid-area: 1 / 3 / 2 / 8;
    @include stand.finger-left(stand.$color-gradient-orange-left, 100%);
    position: relative;
    right: 30px;
  }
  .cases-green-arrow {
    grid-area: 2 / 1 / 3 / 6;
    display: flex;
    align-self: center;

    @include stand.finger-right(stand.$color-gradient-green-right, 5em);
  }
  .cases-mask {
    grid-area: 1 / 7 / 5 / 12;
    z-index: 2;
    margin-top: -3em;
    background-position: top center;

    mask-repeat: no-repeat;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 167 352'%3E%3Cpath d='M147 0h-11c-6 0-6 1-6 6s-5 8-10 8H47c-5 0-10-3-10-8s-1-6-6-6H20C7 0 0 7 0 20v312c0 12 6 20 20 20h127c14 0 20-8 20-20V20c0-13-7-20-20-20zm-35 349H55a1 1 0 110-3h57a1 1 0 010 3z'/%3E%3C/svg%3E");
    mask-position: center;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.skills {
  grid-column: 1/13;
  @include stand.display-grid;
  grid-template-rows: repeat(2, 1fr);

  h2 {
    grid-area: 1 / 1 / 2 / 13;
    font-size: 5rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .skills-yellow-arrow {
    grid-area: 1 / 1 / 2 / 7;
    @include stand.finger-right(stand.$color-gradient-orange-right, 8em);
    display: flex;
    align-self: center;
  }
  .skills-con {
    grid-area: 2 / 1 / 3 / 13;
    @include stand.display-flex(row, space-around, center, 0);
    text-align: center;
    font-size: 1.5rem;

    margin-top: 2em;

    .skills-box {
      @include stand.display-flex(column, center, center, 0);

      .skills-green-arrow {
        @include stand.finger-up(stand.$color-gradient-green-up, 2em);

        height: 7em;
        width: 7em;
        i {
          font-size: 4rem;
          color: stand.$color-off-white;
          margin-top: 0.5em;
        }
      }
    }
  }
}

.creative-solotion {
  grid-column: 1/13;
  margin: 7em 0;
  padding: 13em 0;
  background: stand.$color-gradient-orange;
  h2 {
    font-size: 5rem;
    text-align: center;
  }
  .creative-solotion-con {
    margin-top: 2em;
    @include stand.display-flex(row, center, center, 4em);
    .creative-solotion-box {
      text-align: center;
      width: 25svw;

      border: 20px solid stand.$color-bg;

      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
      p {
        background-color: stand.$color-off-white;
        color: stand.$color-black;
        font-size: 1.5rem;
        white-space: nowrap;
        padding: 0.5em;
      }
    }
  }
}

.vision {
  grid-column: 1/13;
  @include stand.display-grid;
  grid-template-rows: repeat(2, 1fr);

  h2 {
    grid-area: 1 / 1 / 2 / 13;
    font-size: 5rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .vision-yellow-arrow {
    grid-area: 1 / 5 / 2 / 12;
    @include stand.finger-left(stand.$color-gradient-orange-left, 8em);
    display: flex;
    align-self: center;
  }

  .vision-text {
    grid-area: 2 / 2 / 3 / 7;
    @include stand.display-flex(column, flex-start, flex-start, 2em);

    font-size: 1.3rem;
    p {
      max-width: 500px;
    }
    a {
      font-weight: stand.$font-bold;
    }
  }

  .vision-img {
    grid-area: 2 / 7 / 3 / 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .vision-img-one {
      grid-area: 1 / 2 / 3 / 4;
    }
    .vision-img-two {
      grid-area: 2 / 1 / 4 / 3;
    }
  }
}

.who-we-are {
  grid-column: 1/13;
  @include stand.display-grid;
  grid-template-rows: repeat(2, 1fr);

  h2 {
    grid-area: 1 / 1 / 2 / 13;
    font-size: 5rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .who-we-are-yellow-arrow {
    grid-area: 1 / 1 / 2 / 7;
    @include stand.finger-right(stand.$color-gradient-orange-right, 8em);
    display: flex;
    align-self: center;
  }

  .who-we-are-text {
    grid-area: 2 / 7 / 3 / 12;

    @include stand.display-flex(column, flex-start, flex-start, 2em);

    font-size: 1.3rem;
    p {
      max-width: 500px;
    }
    a {
      font-weight: stand.$font-bold;
    }
  }

  .who-we-are-img {
    grid-area: 2 / 2 / 3 / 7;
    max-width: 700px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.adventure {
  grid-column: 1/13;
  margin: 12em 0;
  @include stand.display-grid;
  grid-template-rows: 1fr;

  .adventure-green-arrow {
    grid-area: 1 / 3 / 2 / 11;
    @include stand.finger-right(stand.$color-gradient-green-right, 100%);
    display: flex;
    align-self: center;
    z-index: 1;
  }
  .adventure-text {
    padding: 2em 0;

    grid-area: 1 / 1 / 2 / 13;
    @include stand.display-flex(column, flex-start, center, 2em);
    font-size: 1.3rem;
    z-index: 3;
    h3 {
      font-size: 3rem;
      font-weight: stand.$font-light;
    }
    p {
      max-width: 500px;
      text-align: center;
    }
    a {
      font-size: 3rem;
      font-weight: stand.$font-bold;
    }
  }
}

.contact {
  @include stand.display-grid;

  padding: 6em 0;
  background-color: stand.$color-bg;

  .contact-form {
    grid-column: 2/12;
    height: 30svh;
    background-image: url(../img/tingTing.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include stand.display-flex(column, center, center, 0);

    h3 {
      font-size: 2rem;
      color: stand.$color-off-white;
    }

    p {
      font-size: 1.2rem;
      color: stand.$color-off-white;
      text-align: center;
    }

    .email-submit {
      @include stand.display-flex(row, space-around, center, 0);
      background-color: stand.$color-off-white;
      margin-top: 0.5rem;
      font-family: stand.$font-family-primary;

      .mail {
        border: 0px solid stand.$color-black;
        // border-left: 1px solid $color-black;
        // border-top: 1px solid $color-black;
        // border-bottom: 1px solid $color-black;
        width: 250px;
        height: 40px;
        padding-left: 0.5rem;
      }

      .mail::placeholder {
        color: stand.$color-black;
        opacity: 0.5;
      }

      .submit {
        width: 120px;
        border: 0px solid stand.$color-black;
        height: 40px;
        text-align: center;
        background-color: stand.$color-green;
        color: stand.$color-off-white;
      }
    }
  }
}
