@charset "UTF-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  position: fixed;
  background-color: #ece5db;
  z-index: 10;
  width: 100%;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
header nav img {
  height: 40px;
  width: auto;
}
header img {
  height: 40px;
  width: auto;
}

.hero {
  height: 45svh;
}
.hero video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offers {
  padding: 7rem 5em;
}
.offers .offer-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20svh 20svh;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.offers .offer-grid .offer-box1 {
  grid-area: 1/4/2/10;
  background-color: red;
}
.offers .offer-grid .offer-box2 {
  grid-area: 2/4/3/7;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: blue;
}
.offers .offer-grid .offer-box3 {
  grid-area: 2/7/3/10;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: green;
}
.offers .offer-grid .offer-box4 {
  grid-area: 1/1/3/4;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: yellow;
}
.offers .offer-grid .offer-box5 {
  grid-area: 1/10/3/13;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: orange;
}

.info {
  padding: 1rem 5em;
  text-align: center;
}
.info h2 {
  font-size: 2rem;
  margin-bottom: 1em;
}
.info .info-con {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.info .info-con .info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.info .info-con .info-box i {
  background-color: black;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 80px;
  color: #fdfbf9;
  font-size: 2rem;
}

.cases {
  padding: 7em 5em;
}
.cases h3 {
  font-size: 2rem;
  margin-bottom: 1em;
  text-align: center;
}
.cases .cases-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20svh 20svh 20svh 20svh;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.cases .cases-container .cb1 {
  grid-area: 1/4/2/10;
  background-color: red;
}
.cases .cases-container .cb2 {
  grid-area: 2/4/3/7;
  background-color: blue;
}
.cases .cases-container .cb3 {
  grid-area: 2/7/3/10;
  background-color: green;
}
.cases .cases-container .cb4 {
  grid-area: 1/1/3/4;
  background-color: yellow;
}
.cases .cases-container .cb5 {
  grid-area: 1/10/3/13;
  background-color: orange;
}
.cases .cases-container .cb6 {
  grid-area: 3/1/5/7;
  background-color: pink;
}
.cases .cases-container .cb7 {
  grid-area: 3/7/4/13;
  background-color: purple;
}
.cases .cases-container .cb8 {
  grid-area: 4/7/5/13;
  background-color: #ceb68f;
}

.kontakt {
  padding: 0 5em;
}
.kontakt .kontakt-formular {
  height: 30svh;
  background-color: #0d0a06;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.kontakt .kontakt-formular h3 {
  font-size: 2rem;
  color: #fdfbf9;
}
.kontakt .kontakt-formular p {
  font-size: 1.2rem;
  color: #fdfbf9;
}
.kontakt .kontakt-formular .email-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: #fdfbf9;
  margin-top: 0.5rem;
}
.kontakt .kontakt-formular .email-submit .mail {
  border: 1px solid #0d0a06;
  width: 250px;
  height: 30px;
}
.kontakt .kontakt-formular .email-submit .submit {
  width: 120px;
  border: 1px solid #0d0a06;
  height: 30px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */