@charset "UTF-8";
@import url("https://use.typekit.net/yqg7pai.css");
.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "futura pt", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

p,
a {
  font-family: "futura pt", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #fafafa;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background-color: #131313;
  z-index: 10;
  width: 100%;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
header nav img {
  height: 40px;
  width: auto;
}
header img {
  height: 40px;
  width: auto;
}

.footer-main {
  padding: 3em 5em;
  background-color: #131313;
  margin-top: 3em;
}
.footer-main .footer-con {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-bottom: 1em;
}
.footer-main .footer-con .footer-box1 {
  grid-area: 1/1/2/7;
}
.footer-main .footer-con .footer-box1 img {
  height: 40px;
  width: auto;
}
.footer-main .footer-con .footer-box2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  grid-area: 1/7/2/9;
}
.footer-main .footer-con .footer-box3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  grid-area: 1/10/2/13;
}
.footer-main .footer-buttombox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 1.5rem 0;
  border-top: 2px solid #131313;
}
.footer-main .footer-buttombox i {
  font-size: 2rem;
}

/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

.hero {
  height: 45svh;
}
.hero video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #272727;
}

.hero {
  height: 45svh;
}
.hero video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.welcome {
  grid-column: 1/13;
  text-align: center;
}
.welcome h1 {
  font-size: 3rem;
  font-family: "futura pt", sans-serif;
}
.welcome p {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cases {
  padding: 7em 5em;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: repeat(4, 1fr);
}
.cases h2 {
  grid-area: 1/4/2/8;
  font-size: 2rem;
}
.cases p {
  grid-area: 2/4/3/8;
}

.skills {
  grid-column: 1/13;
}

.creative-solotion {
  grid-column: 1/13;
}
.creative-solotion img {
  width: 35%;
  height: auto;
  grid-column: 1/6;
}

.vision {
  grid-column: 1/13;
}
.vision img {
  width: 35%;
  height: auto;
  grid-column: 1/6;
}

.who-we-are {
  grid-column: 1/13;
}

.adventure {
  grid-column: 1/13;
}

.contact {
  padding: 0 5em;
}
.contact .contact-form {
  height: 30svh;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.contact .contact-form h3 {
  font-size: 2rem;
  color: #fafafa;
}
.contact .contact-form p {
  font-size: 1.2rem;
  color: #fafafa;
}
.contact .contact-form .email-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: #386354;
  margin-top: 0.5rem;
}
.contact .contact-form .email-submit .mail {
  border: 1px solid #272727;
  width: 250px;
  height: 30px;
}
.contact .contact-form .email-submit .submit {
  width: 120px;
  border: 1px solid #272727;
  height: 30px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */